.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }
  h1{
    font-size: 24px;
  }
  .page-footer{
    background-color : #607d8b;
    margin-top: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu-color{
    background-color : #607d8b; 
  }
  h3{
    font-size: 18px;
    margin-left: 2%;
  }
  p{
    margin-left: 2%;
  }